$ui-control
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	border: 2px solid alpha(item.B1, 0.6)
	color: inherit
	outline: 0
	padding: 1px space.s
	vertical-align: middle
	min-height: 2rem
	border-radius: space.xs
	background: item.B1
	display: inline-block
	resize: vertical
	
	&:focus
		border-color: item.B1

button
	@extend $ui-control

	&.primary
		color: item.B8
	&.link
		border-color: transparent

label
	display: block
	min-height: 5rem
	display: flex
	flex-direction: column
	line-height: 1.75rem

	span::first-letter
		text-transform: uppercase

	small
		color: item.B6
		font-size: .75em

	textarea,
	input:not([type=checkbox]):not([type=radio])
		@extend $ui-control
		width: 100%

		&:invalid
			border-color: face.red
			& + small
				color: face.red
			
	select
		@extend $ui-control
		width: 100%

		&[size],
		&[multiple]
			height: auto
		&:not([multiple]):not([size])
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E")
			background-repeat: no-repeat
			background-position: right space.s center
			background-size: space.s space.m
			padding-right: space.l
	