/*
for color, value in hue
	.fill-{color}
		background-color: value !important

for color, value in hue
	.text-{color}
		color: value !important
*/

.visually-hidden
	position: absolute
	overflow: hidden
	clip: rect(0 0 0 0)
	height: 1px
	width: 1px
	margin: -1px
	padding: 0
	border: 0

.show-s,
.show-m,
.show-l,
.show-xl
	display: none !important
@media screen and (max-width: breakpoint.s)
	.hide-s
		display: none !important
	.show-s
		display: block !important

@media screen and (max-width: breakpoint.m)
	.hide-m
		display: none !important
	.show-m
		display: block !important

@media screen and (max-width: breakpoint.l)
	.hide-l
		display: none !important
	.show-l
		display: block !important

@media screen and (max-width: breakpoint.xl)
	.hide-xl
		display: none !important
	.show-xl
		display: block !important

[hidden]
	display: none !important
