breakpoint = {
	s: 30em 
	m: 45em
	l: 60em
	xl: 75em
	xxl: 90em
}

$unit = 0.5rem // 8px default
space = {
	xs: ($unit * 0.5)
	s: ($unit * 1)
	m: ($unit * 2)
	l: ($unit * 4)
	xl: ($unit * 8)

	squish: {
		s: ($unit * 0.5) ($unit * 1)
		m: ($unit * 1) ($unit * 2)
		l: ($unit * 2) ($unit * 4)
	}

	stretch: {
		s: ($unit * 1.5) ($unit * 1)
		m: ($unit * 3) ($unit * 2)
	}
}
face = {
	white: #FFF
	eggshell: #FAFAFA
	black: #000

	orange: #ed6000
	orangeDark: #cc4400
	green: #8eed00
	greenDark: #6bb200
	blue: #29339b
	blueDark: #112244
	red: #d51c3a
	redDark: #990f26
}

item = {
	A8: rgba(0,0,0,0.87)
	A6: rgba(0,0,0,0.60)
	A4: rgba(0,0,0,0.40)
	A2: rgba(0,0,0,0.25)
	A1: rgba(0,0,0,0.12)

	B8: rgba(17,34,68,0.87)
	B6: rgba(17,34,68,0.60)
	B4: rgba(17,34,68,0.40)
	B2: rgba(17,34,68,0.25)
	B1: rgba(17,34,68,0.12)

	C8: rgba(255,255,255,1.00)
	C6: rgba(255,255,255,0.70)
	C4: rgba(255,255,255,0.50)
	C2: rgba(255,255,255,0.25)
	C1: rgba(255,255,255,0.10)
}
