@import '@/node_modules/modern-normalize/modern-normalize.css'
@import '@/assets/fonts/inter-ui.css'

@require _variables
@require _particles

// Elements
@require _typography
@require _controls
@require _tables

// Behaviours
@require _cells

// Components
@require _cards
@require _grid

// Overrides and helpers
@require _utilities

// Theme
body
	background: face.eggshell
	color: item.B8
