html
	box-sizing: border-box
*, *:before, *:after
	box-sizing: inherit

button, input, select, textarea
	font-size: inherit

input:not([type=checkbox]):not([type=radio]),
select,
textarea
	width: 100%
	margin: 0
	-webkit-appearance: textfield
	padding: space.squish.m
	display: block
	border: 1px solid

button
	border-width: 1px
	border-style: solid
	border-color: currentColor
	background: transparent
	padding: space.squish.m

html
	margin: 0
	padding: 0

body
	margin: 0
	padding: space.m
