label
	display: block
	height: 5rem
	display: flex
	flex-direction: column
	line-height: 1.75rem
	span::first-letter
		text-transform: uppercase
	input:not([type=checkbox]):not([type=radio])
		height: 2rem
		width: 100%
	