.d1, .d2, .h1, .h2, .h3
	margin: 0

.d2
	font-size: (42/16)rem
	line-height: (50/16)rem
	font-weight: 500
	letter-spacing: -0.03em
.d1
	font-size: (42/16)rem
	line-height: (50/16)rem
	letter-spacing: -0.03em
	font-weight: 100
.h1
	font-size: (28/16)rem
	line-height: (36/16)rem
	font-weight: 100
	max-width: 24em
	letter-spacing: -0.01em
.h2
	font-size: (20/16)rem
	line-height: (26/16)rem
	font-weight: 400
	max-width: 28em
	letter-spacing: -0.01em
.h3
	font-size: (16/16)rem
	line-height: (22/16)rem
	font-weight: 600
	max-width: 32em
.body
	font-size: (16/16)rem
	line-height: (22/16)rem
.small
	font-size: (14/16)rem
	line-height: (20/16)rem
.legal
	font-size: (12/16)rem
	line-height: (16/16)rem

@media screen and (min-width: 720px)
	.d1
		font-size: (68/16)rem
		line-height: (78/16)rem
	.d2
		font-size: (68/16)rem
		line-height: (78/16)rem
	.h1
		font-size: (36/16)rem
		line-height: (44/16)rem
	.h2
		font-size: (24/16)rem
		line-height: (30/16)rem
@media screen and (min-width: 1080px)
	.d2
		font-size: (84/16)rem
		line-height: 1.125
	.d1
		font-size: (84/16)rem
		line-height: 1.125
	.h1
		font-size: (42/16)rem
		line-height: 1.125
/*
@media screen and (min-width: 1080px)
	.d2
		font-size: (156/16)rem
		line-height: (164/16)rem
	.d1
		font-size: (156/16)rem
		line-height: (164/16)rem
	.h1
		font-size: (42/16)rem
		line-height: (50/16)rem
@media screen and (min-width: 1440px)
	.d2
		font-size: (168/16)rem
		line-height: (174/16)rem
	.d1
		font-size: (168/16)rem
		line-height: (174/16)rem
	.h2
		font-size: (32/16)rem
		line-height: (40/16)rem
	.h3
		font-size: (20/16)rem
		line-height: (26/16)rem
*/

body
	line-height: 1.5
	font-family: 'Segoe UI Regular EastEuropean', 'Segoe UI', 'Segoe WP', system-ui, -apple-system, Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji','Segoe UI Symbol'
	color: color.text
	@extend .body
	@supports (font-variant-ligatures: common-ligatures)
		font-feature-settings: normal
		font-variant-ligatures: common-ligatures

h1
	@extend .h1
h2
	@extend .h2
h3
	@extend .h3

figcaption,
small
	@extend .small

p
	margin: 0 0 1rem

text
	&-right
		text-align: right