// Reset
@require '_variables'
@require '_base'

// Elements
@require '_typography'

// Behaviours
@require '_cells'

// Components
@require '_cards'

// Overrides and helpers
@require '_utilities'

// Theme
body
	background: hue.B2
figure
	background: hue.B1
	border-color: hue.B4
	& > *
		border-color: hue.B4