$ui-control
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	border: 2px solid alpha(hue.B6, 0.6)
	color: inherit
	line-height: 1rem
	outline: 0
	padding: 1px space.s
	vertical-align: middle
	min-height: 2rem
	border-radius: space.xs
	background: hue.B1
	display: inline-block
	
	&:focus
		border-color: color.primary

button
	@extend $ui-control

	&.primary
		background: color.primary
		border-color: color.primary
		color: hue.B1
	&.link
		border-color: transparent
		color: color.primary

label
	display: block
	min-height: 5rem
	display: flex
	flex-direction: column
	line-height: 1.75rem

	span::first-letter
		text-transform: uppercase

	textarea,
	input:not([type=checkbox]):not([type=radio])
		@extend $ui-control
		width: 100%

		&:invalid
			border-color: hue.A4
			& + small
				color: hue.A4
			
	select
		@extend $ui-control
		width: 100%

		&[size],
		&[multiple]
			height: auto
		&:not([multiple]):not([size])
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E")
			background-repeat: no-repeat
			background-position: right space.s center
			background-size: space.s space.m
			padding-right: space.l
	